@font-face {
    font-family: "font-1";
    src: url("./fonts/font-1.ttf");
}

@font-face {
    font-family: "font-2";
    src: url("./fonts/font-2.ttf");
}

@font-face {
    font-family: "font-3";
    src: url("./fonts/font-3.ttf");
}

@font-face {
    font-family: "font-4";
    src: url("./fonts/font-4.ttf");
}

@font-face {
    font-family: "font-5";
    src: url("./fonts/font-5.ttf");
}

@font-face {
    font-family: "font-6";
    src: url("./fonts/font-6.ttf");
}

@font-face {
    font-family: "font-7";
    src: url("./fonts/font-7.ttf");
}

@font-face {
    font-family: "font-8";
    src: url("./fonts/font-8.ttf");
}

@font-face {
    font-family: "font-9";
    src: url("./fonts/font-9.ttf");
}

@font-face {
    font-family: "font-10";
    src: url("./fonts/font-10.ttf");
}

@font-face {
    font-family: "font-11";
    src: url("./fonts/font-11.ttf");
}

@font-face {
    font-family: "font-12";
    src: url("./fonts/font-12.ttf");
}

@font-face {
    font-family: "font-13";
    src: url("./fonts/font-13.ttf");
}

@font-face {
    font-family: "font-14";
    src: url("./fonts/font-14.ttf");
}

@font-face {
    font-family: "font-15";
    src: url("./fonts/font-15.ttf");
}

@font-face {
    font-family: "font-16";
    src: url("./fonts/font-16.ttf");
}

@font-face {
    font-family: "font-17";
    src: url("./fonts/font-17.ttf");
}

@font-face {
    font-family: "font-18";
    src: url("./fonts/font-18.ttf");
}

@font-face {
    font-family: "font-19";
    src: url("./fonts/font-19.ttf");
}

@font-face {
    font-family: "font-20";
    src: url("./fonts/font-20.ttf");
}

@font-face {
    font-family: "font-21";
    src: url("./fonts/font-21.ttf");
}
@font-face {
    font-family: "font-22";
    src: url("./fonts/font-22.ttf");
}
@font-face {
    font-family: "font-23";
    src: url("./fonts/font-23.ttf");
}
@font-face {
    font-family: "font-24";
    src: url("./fonts/font-24.ttf");
}